<h1 class = "center">Welcome!</h1>


<div class="container">
<img class="materialboxed" width="450" src="https://github.com/Kathy145/familyCookbookManager/blob/master/public/img/lotus-image-gold-gradient-transparent-small.png?raw=true">

</div>
