<h1 class = "center">Welcome!</h1>

{{!-- 
<div class="container">

<img class="materialboxed" width="450" src="../assets/img/lotus-image-gold-gradient-transparent-small.png"> --}}


<img class="materialboxed" width="400" src="../assets/img/welcome.png">


