<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Juilaette Family Cookbook Manager</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/css/materialize.min.css">
    <link rel="stylesheet" href="assets/style.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/js/materialize.min.js" defer></script>


</head>

<body>
    <nav class="pink accent-2">
        <div class=nav-wrapper>
            <a href="/" class="brand-logo ">Juilaette Family Cookbook Manager</a>
            <ul class="right hide-on-med-and-down">
                {{!--
                <li>
                    <a href="/">Home</a>
                </li> --}}
                <li>
                    <a href="/recipes ">Recipes</a>
                </li>
                <li>
                    <a href="/cookbook ">Cookbooks</a>
                </li>
            </ul>
        </div>
    </nav>

    {{{body}}}


    <footer class="page-footer black center">
        {{!--
        <div class="container">
        </div> --}}
        <div class="footer-copyright">
            <div class="container">
                © 2017 Copyright Text Designed with
                <span style="color:red;">&#10084;</span> by
                <span class="">Lotus Designs</span>
            </div>
        </div>
    </footer>
    <script type="text/javascript " src="js/materialize.min.js "></script>
</body>

</html>
