<h2 class="center">{{recipes.length}} recipes</h2>
{{#each recipes as |recipe index|}}
<h3 class="center">
    <a href="/recipes/{{recipe.title}}">{{recipe.title}}</a>
</h3>
{{/each}}

<h4 class="center">Add a family recipe to your cookbook!</h4>

<form class="center" action="/recipes" method="post">
    <input class="center" type="text" name="recipe[title]" placeholder="Title">
    <input class="center" type="text" name="recipe[description]" placeholder="Description">
    <input class="center" type="text" name="recipe[ingredients]" placeholder="Ingredients">
    <input class="center" type="text" name="recipe[instructions]" placeholder="Instructions">
    <input class="center" class="btn waves-effect waves-light pink accent-2 "type="submit" value="Add Recipe">
</form>
<br></br>
